/* CSS declarations go here */
.navbar-default {
	background-color: rgba(0, 0, 0, 0.75);
	font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default  .navbar-nav li a {
	color: white;
}

.jumbotron {
	margin-top: 100px;
	background-color: white;
}

.jumbotron h1 {
	font-family: 'Raleway', sans-serif;
}

.jumbotron .btn {
	margin-top: 50px;
	font-family: 'Raleway', sans-serif;
}

.jumbotron .img-custom {
    height: 50%; 
    width: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron .img-user {
    height: 250px; 
    width: 250px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.col-default {
	margin-top: 200px;
	margin-bottom: 300px;
}

.col-default h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
}

.col-default p {
	margin-top: 25px;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}

.col-pic {
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.col-pic img {
	margin-bottom: 10px;
	width: 100%;
}

.col-pic p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

.col-user {
	margin-top: -50px;
	margin-bottom: 100px;
}

.col-user h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}
.col-user p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}