.navbar-default {
	background-color: rgba(0, 0, 0, 0.75);
	font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default  .navbar-nav li a {
	color: white;
}

.jumbotron {
	margin-top: 100px;
	background-color: white;
}

.jumbotron h1 {
	font-family: 'Raleway', sans-serif;
}

.jumbotron .btn {
	margin-top: 50px;
	font-family: 'Raleway', sans-serif;
}

.jumbotron .img-custom {
    height: 50%; 
    width: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron .img-user {
    height: 250px; 
    width: 250px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-default {
	margin-top: 200px;
	margin-bottom: 300px;
}

.col-default h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
}

.col-default p {
	margin-top: 25px;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}

.col-default h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}

.col-default p {
  margin-top: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

.col-pic {
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.col-pic img {
	margin-bottom: 10px;
	width: 100%;
}

.col-pic p {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

.col-user {
	margin-top: -50px;
	margin-bottom: 100px;
}

.col-user h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}
.col-user p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}

/*I got a lot of help for this part from this tutorial http://codepen.io/carolineschnapp/pen/vbwua */
.insta-pic {
	overflow:scroll;
}
.insta-pic .hidden { display: block !important; visibility: visible !important; }
.insta-pic { position: relative; }
.insta-pic .hidden { 
  position: absolute; 
  top: 0; 
  width: 100%; 
  height: 100%;  
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;  
}
.insta-pic:hover .hidden { 
  opacity: 1;    
}
.insta-pic .caption {
  position: absolute;
  top: 0;  
  width: 100%;
  height: 100%;
  background-color: white; /* fallback for IE8 */
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.insta-pic .hidden .caption .centered {
  vertical-align: middle;
}

@media (min-width: 480px) and (max-width: 979px) {
  .insta-pic .caption { 
    font-size: 11px; 
  }
}
