<!DOCTYPE html>
<html lang='en'>
<html>
<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Post Analysis</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
  	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href = "/home" class = "navbar-brand">CapitalOne</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href = "/home#about">About Me</a></li>
	        <li><a href ="/posts">Posts</a></li>
            <li class="dropdown">
              <ul class="dropdown-menu">
                <li><a href = "/home#about">About Me</a></li>
	            <li><a href ="/posts">Posts</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<!-- Capital One Logo and Greeting -->
	<section class="homeScreen" id="home">
		<div class = "container">
			<div class = "jumbotron text-center">
				<h1>Analysis</h1>
				<hr>
			</div>
		</div>
	</section>


	<!-- JQuery and Bootstrap JS Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript">
			function drawChart(){
				var stockSeriesColor = "#33691E";
				var tweetSeriesColor = "#019FE9";
				var margin = {top: 100, right: 40, bottom: 100, left: 50}
				var padding = 50;
				var percentage_of_width = 0.85;
				var percentage_of_height = 0.95;
				var w = (percentage_of_width * $(window).width()) - margin.left - margin.right;
				var h = (percentage_of_height * $(window).height()) - margin.top - margin.bottom;
				var rawJSON = JSON.parse($("#hiddendata").text());
				var name = rawJSON["name"];
				$(".text-header").text("Visualization for " + name);
				var tweets = rawJSON["tweets"];
				var stockdata = rawJSON["stocks"];
				var max_date = Date.parse(new Date());
				var min_date = Date.parse(stockdata["history"][stockdata["history"].length-1]["Date"]);
				var xScale = d3.time.scale().domain([min_date, max_date]).range([0, w]);
				var xAxis = d3.svg.axis().scale(xScale).orient("bottom").tickFormat(function(d){
					return d.toISOString().slice(0,10);
				});
				var yScale = d3.scale.linear().domain([-1, 1]).range([h, 0]);
				var yScale2 = d3.scale.linear().domain([stockdata["min"], stockdata["max"]]).range([h, 0]);
				var yAxis = d3.svg.axis().scale(yScale).orient("left");
				var yAxis2 = d3.svg.axis().scale(yScale2).orient("right");
				var svg = d3.select("body")
						.append("svg")
						.attr("width", w)
						.attr("height",h+padding);
				var div = d3.select("body").append("div")
		    						.attr("class", "tooltip")
		    						.style("opacity", 0);
				svg.selectAll("circle")
					.data(tweets)
					.enter()
					.append("circle")
					.attr("fill", tweetSeriesColor)
					.attr("cx", function(d) { return xScale(Date.parse(d["date"])); })
					.attr("cy", function(d) { return yScale(d["sentiment"]); })
					.attr("r", 4);
				svg.selectAll("dot")
					.data(tweets)
					.enter()
					.append("circle")
					.attr("fill", tweetSeriesColor)
					.attr("cx", function(d) { return xScale(Date.parse(d["date"])); })
					.attr("cy", function(d) { return yScale(d["sentiment"]); })
					.attr("r", 4)
					.on("mouseover", function(d){
						div.transition()
							.duration(200)
							.style("opacity", 0.9);
						div.html(d["sentiment"] + " : " + d["text"])
							.style("left", (d3.event.pageX) + "px")
							.style("top", (d3.event.pageY - 28) + "px");
					})
					.on("mouseout", function(d) {
            div.transition()
                .duration(500)
                .style("opacity", 0);
					});
				var stockgraph = d3.svg.line()
						.x(function(d) { return xScale(Date.parse(d["Date"])); })
						.y(function(d) { return yScale2(d["Close"]); });
				svg.append("path")
					.style("stroke", stockSeriesColor)
					.attr("d", stockgraph(stockdata["history"]))
					.attr("fill","#FFFFFF")
					.attr("stroke-width","4");
				//X Axis
				svg.append("g").attr("class", "axis")
					.attr("transform", "translate(0," + h + ")")
					.style("font-family", "Source Sans Pro").call(xAxis);
				svg.append("text")
					.attr("x", w/2).attr("y",  h + padding)
					.style("text-anchor", "middle").style("font-family", "Source Sans Pro")
					.text("Date");
				//Y Axis(es)
				svg.append("g")
					.attr("class", "axis").attr("transform", "translate(" + 0 + ",0)")
					.attr("fill", tweetSeriesColor).style("font-family", "Source Sans Pro").call(yAxis);
				svg.append("text")
        	.attr("transform", "rotate(-90)")
        	.attr("y", -margin.left)
        	.attr("x", -(h / 2))
        	.attr("dy", "1em")
					.attr("fill", tweetSeriesColor)
        	.style("text-anchor", "middle")
        	.text("Sentiment");
				svg.append("g")
					.attr("class", "axis").attr("transform", "translate(" + w + " ,0)")
					.style("fill", stockSeriesColor).style("font-family", "Source Sans Pro").call(yAxis2);
				svg.append("text")
        	.attr("transform", "rotate(-90)")
        	.attr("y", w + margin.right)
        	.attr("x", -(h/2))
        	.attr("dy", "1em")
        	.style("text-anchor", "middle")
					.style("fill", stockSeriesColor)
        	.text("Stock Price ($)");
			};
			drawChart();
			window.resize = drawChart;
    </script>
	</body>
</html>