<!DOCTYPE html>
<html lang='en'>
<html>
<head>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Post Analysis</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
  	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href = "/home" class = "navbar-brand">CapitalOne</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href = "/home#about">About Me</a></li>
	        <li><a href ="/posts">Posts</a></li>
            <li class="dropdown">
              <ul class="dropdown-menu">
                <li><a href = "/home#about">About Me</a></li>
	            <li><a href ="/posts">Posts</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<!-- Capital One Logo and Greeting -->
	<section class="homeScreen" id="home">
		<div class = "container">
			<div class = "jumbotron text-center">
				<h1>Analysis</h1>
				<hr>
				<div id="pieChart"></div>
			</div>
		</div>
	</section>

	<!-- JQuery and Bootstrap JS Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>

	<script src="{{ url_for('static', filename='scripts/d3.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/d3pie.js') }}"></script>

	<script>
		var serverdata = {{ data|tojson }};
	  	var data = JSON.parse(serverdata);
	  	console.log(data);

		var pie = new d3pie("pieChart", {
		header: {
		    title: {
		      text: "Sentiments"
		    },
		    location: "pie-center"
		  },
		  size: {
		    pieInnerRadius: "80%"
		  },
		  data: {
		    sortOrder: "label-asc",
		    content: [
		      { label: "Positive", value: data.positive },
		      { label: "Neutral", value: data.neutral },
		      { label: "Negative", value: data.negative }
		    ]
		  }
		});
	</script>
	</body>
</html>