<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
  	<title>capital-one-gram</title>
  	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
  	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class = "navbar navbar-default navbar-static-top">
		<div class = "container">
			<a href = "#" class = "navbar-brand">CapitalOne</a>
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<div class = "collapse navbar-collapse navCollapseMenu">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href = "#about" class="scroll">About Me</a></li>
	            <li><a href = "#analytics" class="scroll">Analytics</a></li>
	          </ul>
	        </div>
		</div>
	</div>

	<div class = "container">
		<div class = "jumbotron text-center">
			<img class="img-responsive" src="../static/logo.png" alt="">
			<h1>Engineering Summit</h1>
		</div>
	</div>
</body>
</html>