<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>capital-one-gram</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
  	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
	<!-- Navigation bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href = "/home" class = "navbar-brand">CapitalOne</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href = "/home#about">About Me</a></li>
	        <li><a href = "/analysis">Analytics</a></li>
	        <li><a href ="/posts">Posts</a></li>
            <li class="dropdown">
              <ul class="dropdown-menu">
                <li><a href = "/home#about">About Me</a></li>
	        	<li><a href = "/analysis">Analytics</a></li>
	            <li><a href ="/posts">Posts</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<section class="homeScreen" id="home">
		<div class = "container">
			<div class = "jumbotron text-center">
				<h1>Recent Posts</h1>
				<p>Hover over the image to view its caption.</p>
				<p>Click on a username to view their information</p>
			</div>
		</div>
	</section>

	<div class="container">
        <div class="row">
        {% for post, sentiment in data %}
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-pic">
				<div class="thumbnail">
			        <div class="insta-pic">
	                	<a href="/user/{{ post.user.id }}"><img src="{{ post.images['standard_resolution'].url }}"/></a>
	                	<div class="hidden">
				            <div class="caption">
				                <div class="centered">
				                     <p>-Caption-</p>
				                     <p>{{ post.caption }}</p>
				                </div>
				            </div>
			        	</div>
	                </div>
			        <p> <a href="/user/{{ post.user.id }}"><i class="fa fa-user"></i> {{ post.user }}</a></p>
			        <p> <a href="{{ post.link }}"><i class="fa fa-instagram"></i> Link </a></p>
			 		<p> <i class="fa fa-heart"></i> Likes: {{ post.like_count }}</p>
			 		<p>{% if sentiment=='positive' %}
			 			<i class="fa fa-smile-o"></i>
			 		{% elif sentiment=='negative' %}
			 			<i class="fa fa-frown-o"></i>
			 		{% else %}
			 			<i class="fa fa-meh-o"></i>
			 		{% endif %} 
			 		Caption Sentiment: {{ sentiment }}</p>
	            </div>
	        </div>
		{% endfor %}
		</div>
	</div>

	<!-- JQuery and Bootstrap JS Imports -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>

    <!-- JQuery Script to Enable Smooth Scrolling -->
    <!-- Found on http://www.cmscanbesimple.org/blog/smooth-page-scroll-to-an-anchor -->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
        event.preventDefault();
        $('html,body').animate( { scrollTop:$(this.hash).offset().top } , 1000);
        } );
      } );
    </script>
</body>
</html>