<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Recent Posts</title>
  	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
  	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
	<div class = "navbar navbar-default navbar-fixed-top">
		<div class = "container">
			<a href = "/home" class = "navbar-brand scroll">CapitalOne</a>
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<div class = "collapse navbar-collapse navCollapseMenu">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href = "#about" class="scroll">About Me</a></li>
	            <li><a href = "#analytics" class="scroll">Analytics</a></li>
	            <li><a href = "/posts" class="scroll">Posts</a></li>
	          </ul>
	        </div>
		</div>
	</div>

	<section class="homeScreen" id="home">
		<div class = "container">
			<div class = "jumbotron text-center">
				<h1>Recent Posts</h1>
				<p>Click on a username to view their information</p>
			</div>
		</div>
	</section>

	<div class="container">
        <div class="row">
            {% for post, sentiment in data %}
		    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-pic">
		        <a href="/user/{{ post.user.id }}"><img src="{{ post.images['standard_resolution'].url }}"/></a>
		        <p> <a href="/user/{{ post.user.id }}"><i class="fa fa-user"></i> {{ post.user }}</a></p>
		 		<p> <i class="fa fa-heart"></i> Likes: {{ post.like_count }}</p>
		 		<p>{% if sentiment=='positive' %}
		 			<i class="fa fa-smile-o"></i>
		 		{% elif sentiment=='negative' %}
		 			<i class="fa fa-frown-o"></i>
		 		{% else %}
		 			<i class="fa fa-meh-o"></i>
		 		{% endif %} 
		 		Caption Sentiment: {{ sentiment }}</p>
		    </div>
        	{% endfor %}
        </div>
    </div>

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- JQuery Script to Enable Smooth Scrolling -->
    <!-- Found on http://www.cmscanbesimple.org/blog/smooth-page-scroll-to-an-anchor -->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
        event.preventDefault();
        $('html,body').animate( { scrollTop:$(this.hash).offset().top } , 1000);
        } );
      } );
    </script>
</body>
</html>