<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>User Information</title>
  	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
  	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
	<div class = "navbar navbar-default navbar-fixed-top">
		<div class = "container">
			<a href = "#home" class = "navbar-brand scroll">CapitalOne</a>
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<div class = "collapse navbar-collapse navCollapseMenu">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href = "#about" class="scroll">About Me</a></li>
	            <li><a href = "#analytics" class="scroll">Analytics</a></li>
	          </ul>
	        </div>
		</div>
	</div>

	<section class="homeScreen" id="home">
		<div class = "container">
			<div class = "jumbotron text-center">
				<img class="img-user" src="{{ user.profile_picture }}" alt="">
			</div>
		</div>
	</section>

	<section class="user-info" id="user">
	    <div class="container">
	        <div class="col-sm-12 col-user text-center">
	        	<h3>Info for {{ user }}</h3>
				<p>Posts: {{ user.counts['media'] }}</p>
				<p>Followers: {{ user.counts['followed_by'] }}</p>
				<p>Follows: {{ user.counts['follows'] }}</p>
	        </div>
	    </div>
	</section>


    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- JQuery Script to Enable Smooth Scrolling -->
    <!-- Found on http://www.cmscanbesimple.org/blog/smooth-page-scroll-to-an-anchor -->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
        event.preventDefault();
        $('html,body').animate( { scrollTop:$(this.hash).offset().top } , 1000);
        } );
      } );
    </script>
</body>
</html>